.header{
    height: 40%;
    margin: 5%;
    padding: 5%;
    background-color: lightgrey;
}

#name{
    font-size: 45px;
}

#username{
    font-size: 20px;
}

#bio{
    font-size: 35px;
}

#details{
    font-size: 30px;
}

.picture{
    width: 20%;
    height: 20%;
}

.body{
    height: 60%;
}

.bio{
}

.link{
    margin: 1%;
}

@media(max-width:600px){
    #name{
        font-size: 25px;
    }

    #username{
        font-size: 15px;
    }

    #bio{
        font-size: 25px;
    }

    #details{
        font-size: 18px;
    }
    
    .picture{
        width: 30%;
        height: 30%;
        float: left;
    }
}